body{
    background-color: rgb(14, 29, 117);
}

main{
    position: absolute;
    top: 10%;
    height: 90vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
}

#comandaTotal{
    height: 35px;  
    color: black; 
    background-color: rgba(122, 117, 117, 0.233); 
}

#dolar{
    position: absolute;
    left: 20px;
}

#people{
    height: 35px;  
    color: white; 
    background-color: rgba(122, 117, 117, 0.233); 
}

#person{
    position: absolute;
    left: 20px;
}

footer{
    position: relative;
    top:560px;
    text-align: center;
}

@media screen and (min-width: 400px) and (min-height: 630px )
{

    main{
        top: 20%;
    }
    
    
}

@media screen and (min-width: 760px ) and (min-height: 630px )
{

    main{
        font-size: 40px;
    }

    #comandaTotal, #people, #reset{
        height: 60px;
        font-size: 35px;
    }
    
    #dolar > img, #person > img{
        width: 20px;
    }

    footer{
        position: relative;
        top: 1000px;
        font-size: 30px;
    }
    
    
}

@media screen and (min-width: 1200px)
{

    main{
        width:50%;
        height: 50%;
        border-radius: 20px;
        position: relative;
        top:250px;
        /* left: 300px; */
        margin: auto;
    }
    
    #bloco2{
        height: 400px;
        width: 400px;
        margin-right: 10px;
    }

    #totale, #amount{
        margin-left: 20px;
    }
    
    #reset{
        margin-left:120px;
    }

    .botao{
        font-size: 30px;
    }

    #person, #dolar{
        left: 40px;
    }

    footer{
        font-size: 30px;
        color: white;
        top: 300px;
    }

}