body, html {
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabeçalho */
.caixa-cabecalho {
    width: 100%;
}

.caixa-cabecalho__menu {

}

.caixa-cabecalho__caixaItens {
    justify-content: end;
    width: 100%;
    margin-right: 5%;
}

.caixa-cabecalho__itemMenu {
    transition: all 0.8s;
    font-size: 16px;
}

.caixa-cabecalho__itemMenu > a {
    text-decoration: none;
    color: #4B5563;
}

.caixa-cabecalho__itemMenu:hover {
    color: black;
    transform: translateX(5%);
}

/* Conteúdo central */
.caixa-principal {
    width: 100%;
    padding: 0 20px;
}

.caixa-principal__inicio {
    width: 100%;
    background-color: #F7F8F9;
    margin-bottom: 50px;
    padding: 10% 5%;
    border-radius: 20px 20px 0 0;
}

.caixa-principal__titulo {
    font-size: 24px;
    width: 100%;
    margin-bottom: 2%;
}

.caixa-principal__titulo--detalhe {
    color: #4B5563;
}

.caixa-principal__descricao {
    width: 65%;
    margin-bottom: 15%;
    font-size: 12px;
}

.caixa-principal__botao {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 12px;
    transition: all 0.8s;
    font-size: 12px;
    display: inline-block;
    width: 45%;
    max-width: 160px;
    text-align: center;
    padding: 15px;
}

.caixa-principal__botao:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #D1D5DB;
}

.caixa-principal__botao--download {
    background-color: transparent;
    color: black;
    border: 1px solid #D1D5DB;
    margin-left: 1%;
    transition: all 0.8s;
}

.caixa-principal__botao--download:hover {
    background-color: black;
    color: white;
}

/* Sobre mim */
.caixa-principal__sobreMim {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.caixa-principal__caixaSobreMim {
    width: 100%;
}

.caixa-principal__titulo--sobreMim {
    font-size: 24px;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}

.caixa-principal__descricao--sobreMim {
    color: #4B5563;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: 12px;
}

.caixa-principal__caixaTecnologiasModernas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
}

.caixa-principal__caixaTecnologiaModerna {
    width: 100%;
    background-color: #F7F8F9;
    border-radius: 12px;
    padding: 3%;
}

.caixa-principal__titulo--tecnologiaModerna {
    margin-bottom: 5%;
    font-size: 16px;
}

.caixa-principal__descricao--tecnologiaModerna {
    font-size: 12px;
}

/* Seção de Projetos */

.caixa-principal__projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F8F9;
    padding: 10% 5%;
    margin-bottom: 50px;
}

.caixa-principal__titulo--projetos {
    font-size: 24px;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}

.caixa-principal__descricao--projetos {
    color: #4B5563;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
    font-size: 12px;
}

.caixa-principal__caixaListaProjetos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
}

.caixa-principal__caixaProjeto {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 3%;
}

.caixa-principal__titulo--projeto {
    margin-bottom: 5%;
    font-size: 16px;
    text-align: center;
}

.caixa-principal__descricao--projeto {
    font-size: 12px;
}

.caixa-principal__caixaTecnologiasProjeto {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.caixa-principal__tecnologiaProjeto {
    font-size: 12px;
    color: #4B5563;
}

.caixa-principal__linkProjeto {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    background: #A3CCDA;
    padding: 10px;
    border-radius: 12px;
    color: black;
}

/* Seção tecnologias */

.caixa-principal__tecnologias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.caixa-principal__caixaTecnologias {
    width: 100%;
}

.caixa-principal__titulo--tecnologias {
    font-size: 24px;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}

.caixa-principal__descricao--tecnologias {
    color: #4B5563;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: 16px;
}

.caixa-principal__caixaListaTecnologias {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.caixa-principal__caixaItemTecnologia {
    width: fit-content;
    min-width: 90px;
    max-width: 160px;
    max-height: 110px;
    background-color: #F7F8F9;
    border-radius: 12px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.caixa-principal__icon--tecnologia {
    font-size: 30px;
}

.caixa-principal__titulo--tecnologia {
    margin-bottom: 5%;
    font-size: 20px;
}

.caixa-principal__descricao--tecnologia {
    font-size: 12px;
}

/* Media Query */

@media (min-width: 992px) {
    .caixa-cabecalho__itemMenu {
        font-size: 20px;
    }

    .caixa-cabecalho__itemMenu:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 768px) {
    .caixa-principal__titulo {
        font-size: 50px;
    }

    .caixa-principal__descricao {
        font-size: 16px;
        margin-bottom: 10%;
    }

    .caixa-principal__botao {
        font-size: 16px;
        padding: 20px;
    }

    .caixa-principal__titulo--sobreMim, .caixa-principal__titulo--projetos, .caixa-principal__titulo--tecnologias {
        font-size: 50px;
        margin-bottom: 5%;
    }

    .caixa-principal__descricao--sobreMim, .caixa-principal__descricao--projetos {
        font-size: 16px;
        width: 50%;
        margin: 0 auto 5% auto;
    }

    .caixa-principal__caixaTecnologiasModernas, .caixa-principal__caixaListaProjetos {
        flex-direction: row;
        justify-content: space-around;
        column-gap: 30px;
    }

    .caixa-principal__descricao--tecnologias {
        font-size: 20px;
        margin-bottom: 2%;
    }
}

@media (min-width: 1200px) {
    .caixa-principal__inicio, .caixa-principal__projetos {
        padding: 5%;
    }

    .caixa-principal__caixaTecnologiaModerna {
        width: 30%;
    }

    .caixa-principal__titulo--projeto {
        font-size: 20px;
    }

    .caixa-principal__descricao--projeto {
        font-size: 16px;
    }

    .caixa-principal__titulo--tecnologias {
        margin-bottom: 2%;
    }
}